<form asp-action="Index">
    <h1>NguyenKhanhLinh test bài tập</h1>
    <label>Name:</label>
    <input type="text" name="name" />
    <label>Địa chỉ:</label>
    <input type="text" name="address" />
    <input type="submit" value="Gửi dữ liệu" />
</form>

<h1>Kết quả gửi về là:</h1>
<h1>@ViewData["Message"]</h1>
